@use '../mixins/screens.scss' as *;

h1, .h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.1;
  @apply tw-tracking-1 tw-font-if-kica tw-uppercase;

  @include lg {
    font-size: 65px;
  }

  @include md {
    font-size: 50px;
  }

  @include sm {
    font-size: 42px;
  }

  &--yellow {
    @apply tw-text-yellow;
  }
}

h2, .h2 {
  font-weight: 600;
  font-size: 52px;
  line-height: 1.3;
  @apply tw-font-if-kica tw-uppercase;

  @include sm {
    font-size: 28px;
  }

  &--red {
    @apply tw-text-primary;
  }
}
