.scroll-x {
  max-width: 100%;
  overflow-y: hidden;
  scrollbar-color: theme('colors.primary') transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    @apply tw-bg-primary;
  }
}
